.idea
/logs
/data
/.project
.docker-sync
/jenkins/jenkins_home

/logstash/pipeline/*.conf
/logstash/config/pipelines.yml

/nginx/ssl/*.crt
/nginx/ssl/*.key
/nginx/ssl/*.csr

/laravel-echo-server/node_modules
/laravel-echo-server/*.crt
/laravel-echo-server/*.key
